*{    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

.container{
    height: 100vh;

    position: relative;

    background-color: rgba(0, 0, 0, 0.7);
}

.description{
    position: absolute;
    top: 200px;
    left: 300px;
    line-height: 2rem;
}

.login-modal{
    width: 600px;
    min-height: 200px;
    border-radius: 5px;

    position: absolute;
    z-index: 1;
    top: calc(50% - 100px);
    left: 50%;
    transform: translateX(-50%);

    background-color: white;
}

.modal-header, .modal-footer{
    height: 50px;
}

.modal-header{
    border-bottom: 1px solid #cdcdcd;
    padding: 1rem;

    position: relative;

    line-height: 1rem;
}

.close-button{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;

    position: absolute;
    top: 5px;
    right: 5px;

    background-color: #333;
    color: #fff;
    font-size: 10px;
    line-height: 0;
}

.form-group{
    width: 220px;
    height: 25px;
}

.form-group label{
    font-size: 0.8rem;
    line-height: 25px;
}

.username-field,
.password-field{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.username-field{
    top: 70px;
}

.password-field{
    top: 110px;
}

input{
    width: 150px;
    border-radius: 3px;
    border: 1px solid #cdcdcd;
    padding: 0.2rem 0.1rem;

    float: right;
}

input::placeholder{
    font-size: 0.75rem;
    color: #929292;
}

.modal-footer{
    width: 100%;
    border-top: 1px solid #cdcdcd;
    
    position: absolute;
    bottom: 0;
}

.modal-footer div{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.modal-footer button{
    padding: 0.3rem 0.2rem;
    border-radius: 3px;
    border: 1px solid #cdcdcd;
}

button[type="submit"]{
    background-color: #bada55;
    color: darkgreen;
}